<div id="login-card" class="rounded-lg border border-gray-200 shadow-md  dark:border-gray-700">
   <div id="login-container" class="flex rounded-lg ">
      <div id="left-card" class="left-card">
         <p class="text-4xl font-bold text-gray-900 dark:text-white">Welcome to Import Control!</p>
         <br>
         <%= link_to "Create your account", new_registration_path(resource_name), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
      <div class="login-signup rounded-lg dark:border-gray-700 shadow-md dark:bg-gray-800">
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field mb-6">
               <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
               <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3.0 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <div class="field">
               <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
               <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3.0 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <br>

            <div class="">
               <%= f.submit "Log-in for this", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            </div>
         <%end%>

      </div>
   </div>
   <%= render "users/shared/links" %>
</div>
