<%= form_with(model: item, class: "contents") do |form| %>
<div class="grid gap-4 mb-4 md:grid-cols-2">
   <% if item.errors.any? %>
   <div id="error_explanation" class="bg-red-50 text-red-500 px-5 py-2 font-medium rounded-lg ">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
         <% item.errors.each do |error| %>
         <li><%= error.full_message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="">
      <%= form.label :code, class: "text-white" %>
      <%= form.text_field :code, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ", value: Date.today.year.to_s, disabled: true%>
      <%= form.label :description, class: "text-white" %>
      <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.label :price, class: "text-white" %>
      <%= form.text_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.label :solicitation, class: "text-white" %>
      <%= form.select :solicitation, ['X', 'Y', 'Z'], class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <br>
      <%= form.label :validation, class: "text-white" %>
      <%= form.check_box :validation, class: "block w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
   </div>
   <div class="">
      <%= form.label :status, class: "text-white" %>
      <%= form.select :status, ['X', 'Y', 'Z'],class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.label :registration_date, class: "text-white" %>
      <%= form.datetime_field :registration_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.label :arrival_date, class: "text-white" %>
      <%= form.datetime_field :arrival_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= form.label :programmed_to, class: "text-white" %>
      <%= form.datetime_field :programmed_to, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
   </div>
</div>
<br>
<div class="inline">
   <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
</div>
<% end %>