<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= item.code %>
    
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Registration date:</strong>
    <%= item.registration_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Arrival date:</strong>
    <%= item.arrival_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= item.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= item.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Validation:</strong>
    <%= item.validation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Solicitation:</strong>
    <%= item.solicitation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Programmed to:</strong>
    <%= item.programmed_to %>
  </p>
  <br>

  <% if action_name != "show" %>
    <%= link_to "Show this item", item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item', edit_item_path(item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
